.tableauPlaceholder, #tableauPlaceholder {
  width: 1030px; /* 1020 */
  height: 700px; /* 625 */
}
#wrapper {
    width: 96%;
    margin:0 auto 10px; /* Top right-left bottom */
    overflow:hidden;
}

.headerPrincipal {
   height: 26px !important;
   background-color: black;
}

.waterMark {
    background-image: url('../img/ImagenCentro.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

/*
 * Header:: LOGO
 */
#indra_logo {
    height: 62px;
    /* line-height: 90px;*/
    background-image: url('../img/logo-indra.gif');
    background-repeat: no-repeat;
    background-color:#000000; 
    background-attachment:fixed;
    background-position: 10px 2px;
    padding-right: 3em;
    
    display: block;
    color: #A3A3A3;
}

#indra_logo #portalTitle {
    margin: 0px;
    padding-top:18px; 
    text-align: center;
    font-weight:bold;
    font-size: 14pt;
}

#indra_logo #idSalir {
    margin: 0px;
    padding-top:18px;
    text-align: center;
    font-weight:bold;
    font-size: 12pt;
}

#indra_logo #messageHeader {
    margin: 0;
    padding-top:0;
    text-align: right;
    font-size: 8pt;
    /*
    font-weight:bold;
    */
}

#tableauSheetName {
    color:#005580;
}

/* 
 *  Estilos necesarios para que Bootstrap 3 soporte submenus 
 *  Source: http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing 
 */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* ------------------------ */

/*
 * Footer
 */
footer {
    border-top: 1px #CCCCCC solid;
    overflow:hidden;
    color: blue;
    padding: 0.5em;
}

/* INDRA FONTS */ 
@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neo_sans_medium-webfont.eot');
  src: url('../fonts/neo_sans_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neo_sans_medium-webfont.woff') format('woff'), url('../fonts/neo_sans_medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neo_sans_bold-webfont.eot');
  src: url('../fonts/neo_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neo_sans_bold-webfont.woff') format('woff'), url('../fonts/neo_sans_bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neo_sans_light-webfont.eot');
  src: url('../fonts/neo_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neo_sans_light-webfont.woff') format('woff'), url('../fonts/neo_sans_light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neo_sans-webfont.eot');
  src: url('../fonts/neo_sans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neo_sans-webfont.woff') format('woff'), url('../fonts/neo_sans-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: NeoSans, Arial, Helvetica, sans-serif;
}