<div class="container">
    <div class="row">
    	<!--  class="col-xs-10 col-sm-10 col-md-10 col-lg-10" -->
        <div align="center" class="waterMark">
            <div id="tableauPlaceholder"> </div>
        </div>
    </div>
</div>
