<div id="indra_logo">
	<div class="row">
		<div class="col-xs-2">
		</div>
	    <div class="col-xs-8">
			<div id="portalTitle">CMI MESA DE AYUDA FAMILIA (AVAYA) - ITO Producción Colombia</div>
		</div>
		<div class="col-xs-2" style="text-align: right" id="idSalir">
				<a href="../logout" style="color: gray;">Cerrar Sesi&oacute;n</a>
		</div>

	</div>
	<div class="row">
	    <div class="col-lg-12 col-md-12">
			<div id="messageHeader"></div>
		</div>
	</div>
</div>
