<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="headerPrincipal">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                      <a class="navbar-brand" href="#"><i class="icon-home icon-white"> </i>&nbsp;</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							
							<li class="menu-item"><a href="#">Blog</a></li>
	                        <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About The Tests <b class="caret"></b></a>
		                        <ul class="dropdown-menu">
									<li class="menu-item "><a href="#">Cleargel</a></li>
									<li class="menu-item "><a href="#">Lasttrap</a></li>
		                            <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Clearing Floats</a>
		                            	<ul class="dropdown-menu">
		                                	<li class="menu-item "><a href="#">Page with comments</a></li>
		                                	<li class="menu-item "><a href="#">Page with comments disabled</a></li>
		                                	<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
			                                	<ul class="dropdown-menu">
			                                  		<li><a href="#">3rd level link more options</a></li>
			                                  		<li><a href="#">3rd level link</a></li>
			                              		</ul>
		                                  	</li>
		                              	</ul>
		                            </li>
		                        </ul>
                        	</li>
                        	<li class="menu-item"><a href="#">Lorem Ipsum</a></li>
                        	
                        </ul>
					</div>

                </div><!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>
