<div ui-view="header"></div>

<div class="container with-header">

    <div class="row">
        <div class="col-lg-12"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel-footer" style="background-color:#aaaaaa">
                <table cellspacing="4" cellpadding="0" border="0" width="550">
                    <tr>
                        <td class="CTX_ContentTitleHeader">
                            <div  style="padding-left:5px">Bienvenido / Welcome / Bem-vindo  </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="CTXMSAM_LogonFont">
                            <div style="padding-left:5px">Introduzca Usuario y Contraseña para continuar  / Enter Username and Password to continue / Introduza o Usu&aacute;rio e a Senha para continuar</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body" style="padding-left: 23px">

                <div class="row" style="margin-top: 40px";>
                    <div class="col-sm-1">
                        <i class="fa fa-users fa-5x"></i>
                    </div>

                    <div class="col-sm-11">
                        <div>

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-8">Nombre de Usuario / Username / Usu&aacute;rio:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Username" ng-model="authenticateController.username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-8">Contraseña / Password / Senha:</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" placeholder="Enter password" ng-model="authenticateController.password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-8"></label>
                                    <div class="col-sm-4">
                                        <a href="#" ng-click="authenticateController.changePassword()" ng-show="authenticateController.username">Cambiar contrase&ntilde;a</a>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 40px";>
                                    <div class="col-sm-offset-8 col-sm-6">
                                        <button type="submit" class="btn btn-default" ng-click="authenticateController.cb_login();">Iniciar Sesion</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>