<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="headerPrincipal">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                      <a class="navbar-brand" href="#"><i class="icon-home icon-white"> </i>&nbsp;</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav" id='menuReportes'>
						<!-- 
							Menu structure are constructed in app.js
							and copied inside TAG with id='menuReportes' 
						--> 
                        </ul>
					</div>

                </div><!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>
